body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}
.nav,
 #about {
   color: white;
   background-image: url(/Users/vladilen/test/git_practice/vladilenbunnnny.github.io/Broadway/resources/images/the-flatiron-building.png);
 }
 .btn {
   font-size: 18px;}

 .process h2{
   font-size: 32px;
   font-weight: bold;
 }

 #about {
   font-size: 23px;
   font-weight: bold;
 }
 .process p, .about p{
   font-size: 14px;
 }

 .footer {
   font-size: 11px;
   color: white;
   background-color: dimgray;
   text-align: left;
 }
